### Import Libraries

Use Jupyter Notebook as Spark IDE

In [1]:
import findspark
findspark.init()

Import required libraries

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [3]:
sc=SparkContext.getOrCreate()
ss=SparkSession(sc)

### Load Data

Load data

In [4]:
data=ss.read.csv("../data/titanic.csv",inferSchema=True, header=True)

In [5]:
# data.cache()

Get data structure

In [6]:
data.printSchema()

root
 |-- pclass: integer (nullable = true)
 |-- survived: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: double (nullable = true)
 |-- sibsp: integer (nullable = true)
 |-- parch: integer (nullable = true)
 |-- ticket: string (nullable = true)
 |-- fare: double (nullable = true)
 |-- cabin: string (nullable = true)
 |-- embarked: string (nullable = true)
 |-- boat: string (nullable = true)
 |-- body: integer (nullable = true)
 |-- home.dest: string (nullable = true)

Get first 5 records

In [7]:
data.show(5)

+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+
|pclass|survived|                name|   sex|   age|sibsp|parch|ticket|    fare|  cabin|embarked|boat|body|           home.dest|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+
|     1|       1|Allen, Miss. Elis...|female|  29.0|    0|    0| 24160|211.3375|     B5|       S|   2|null|        St Louis, MO|
|     1|       1|Allison, Master. ...|  male|0.9167|    1|    2|113781|  151.55|C22 C26|       S|  11|null|Montreal, PQ / Ch...|
|     1|       0|Allison, Miss. He...|female|   2.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|
|     1|       0|Allison, Mr. Huds...|  male|  30.0|    1|    2|113781|  151.55|C22 C26|       S|null| 135|Montreal, PQ / Ch...|
|     1|       0|Allison, Mrs. Hud...|female|  25.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+
only showing top 5 rows

In [8]:
data.columns

['pclass',
 'survived',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'home.dest']

Describe the data

In [9]:
data.describe().show(truncate=True, vertical=True)

-RECORD 0-------------------------
 summary   | count
 pclass    | 1309
 survived  | 1309
 name      | 1309
 sex       | 1309
 age       | 1046
 sibsp     | 1309
 parch     | 1309
 ticket    | 1309
 fare      | 1308
 cabin     | 295
 embarked  | 1307
 boat      | 486
 body      | 121
 home.dest | 745
-RECORD 1-------------------------
 summary   | mean
 pclass    | 2.294881588999236
 survived  | 0.3819709702062643
 name      | null
 sex       | null
 age       | 29.8811345124283
 sibsp     | 0.4988540870893812
 parch     | 0.3850267379679144
 ticket    | 249039.1368861024
 fare      | 33.29547928134572
 cabin     | null
 embarked  | null
 boat      | 9.404522613065327
 body      | 160.8099173553719
 home.dest | null
-RECORD 2-------------------------
 summary   | stddev
 pclass    | 0.8378360189701272
 survived  | 0.48605517086648325
 name      | null
 sex       | null
 age       | 14.413499699923596
 sibsp     | 1.0416583905961012
 parch     | 0.8655602753495143
 ticket    | 442685.31767656445
 fare      | 51.75866823917421
 cabin     | null
 embarked  | null
 boat      | 4.3574169836049395
 body      | 97.69692199600308
 home.dest | null
-RECORD 3-------------------------
 summary   | min
 pclass    | 1
 survived  | 0
 name      | "Andersson, Mr. A...
 sex       | female
 age       | 0.1667
 sibsp     | 0
 parch     | 0
 ticket    | 110152
 fare      | 0.0
 cabin     | A10
 embarked  | C
 boat      | 1
 body      | 1
 home.dest | ?Havana, Cuba
-RECORD 4-------------------------
 summary   | max
 pclass    | 3
 survived  | 1
 name      | van Melkebeke, Mr...
 sex       | male
 age       | 80.0
 sibsp     | 8
 parch     | 9
 ticket    | WE/P 5735
 fare      | 512.3292
 cabin     | T
 embarked  | S
 boat      | D
 body      | 328
 home.dest | Zurich, Switzerland

### Preprocess Data

Rename columns

In [10]:
data=data.withColumnRenamed('home.dest','homedest')

Check for missing values

In [11]:
from pyspark.sql import functions
for i in data.columns:
    print(i,data.where(functions.col(i).isNull()).count())

pclass 1
survived 1
name 1
sex 1
age 264
sibsp 1
parch 1
ticket 1
fare 2
cabin 1015
embarked 3
boat 824
body 1189
homedest 565

Get records with missing data for sex column

In [12]:
data.where(data['age'].isNull()).show()

+------+--------+--------------------+------+----+-----+-----+--------+--------+-----+--------+----+----+--------------------+
|pclass|survived|                name|   sex| age|sibsp|parch|  ticket|    fare|cabin|embarked|boat|body|            homedest|
+------+--------+--------------------+------+----+-----+-----+--------+--------+-----+--------+----+----+--------------------+
|     1|       0| Baumann, Mr. John D|  male|null|    0|    0|PC 17318|  25.925| null|       S|null|null|        New York, NY|
|     1|       1|"Bradley, Mr. Geo...|  male|null|    0|    0|  111427|   26.55| null|       S|   9|null|     Los Angeles, CA|
|     1|       0|Brewe, Dr. Arthur...|  male|null|    0|    0|  112379|    39.6| null|       C|null|null|    Philadelphia, PA|
|     1|       0|Cairns, Mr. Alexa...|  male|null|    0|    0|  113798|    31.0| null|       S|null|null|                null|
|     1|       1|Cassebeer, Mrs. H...|female|null|    0|    0|   17770| 27.7208| null|       C|   5|null|        New York, NY|
|     1|       1|Chibnall, Mrs. (E...|female|null|    0|    1|  113505|    55.0|  E33|       S|   6|null|St Leonards-on-Se...|
|     1|       0|Chisholm, Mr. Rod...|  male|null|    0|    0|  112051|     0.0| null|       S|null|null|Liverpool, Englan...|
|     1|       0|Clifford, Mr. Geo...|  male|null|    0|    0|  110465|    52.0|  A14|       S|null|null|       Stoughton, MA|
|     1|       0|Crafton, Mr. John...|  male|null|    0|    0|  113791|   26.55| null|       S|null|null|       Roachdale, IN|
|     1|       0|  Farthing, Mr. John|  male|null|    0|    0|PC 17483|221.7792|  C95|       S|null|null|                null|
|     1|       1|Flegenheim, Mrs. ...|female|null|    0|    0|PC 17598| 31.6833| null|       S|   7|null|        New York, NY|
|     1|       1|Fleming, Miss. Ma...|female|null|    0|    0|   17421|110.8833| null|       C|   4|null|                null|
|     1|       0|Franklin, Mr. Tho...|  male|null|    0|    0|  113778|   26.55|  D34|       S|null|null|Westcliff-on-Sea,...|
|     1|       1|Frauenthal, Mrs. ...|female|null|    1|    0|PC 17611|  133.65| null|       S|   5|null|        New York, NY|
|     1|       0|    Fry, Mr. Richard|  male|null|    0|    0|  112058|     0.0| B102|       S|null|null|                null|
|     1|       1|Goldenberg, Mrs. ...|female|null|    1|    0|   17453| 89.1042|  C92|       C|   5|null|Paris, France / N...|
|     1|       0|Harrington, Mr. C...|  male|null|    0|    0|  113796|    42.4| null|       S|null|null|                null|
|     1|       1|Hawksford, Mr. Wa...|  male|null|    0|    0|   16988|    30.0|  D45|       S|   3|null|    Kingston, Surrey|
|     1|       0|Hilliard, Mr. Her...|  male|null|    0|    0|   17463| 51.8625|  E46|       S|null|null|        Brighton, MA|
|     1|       0|Hoyt, Mr. William...|  male|null|    0|    0|PC 17600| 30.6958| null|       C|  14|null|        New York, NY|
+------+--------+--------------------+------+----+-----+-----+--------+--------+-----+--------+----+----+--------------------+
only showing top 20 rows

Check Data Type

In [13]:
data.dtypes

[('pclass', 'int'),
 ('survived', 'int'),
 ('name', 'string'),
 ('sex', 'string'),
 ('age', 'double'),
 ('sibsp', 'int'),
 ('parch', 'int'),
 ('ticket', 'string'),
 ('fare', 'double'),
 ('cabin', 'string'),
 ('embarked', 'string'),
 ('boat', 'string'),
 ('body', 'int'),
 ('homedest', 'string')]

Get the mean age

In [22]:
from pyspark.sql.functions import mean
data.select(mean('age')).collect()[0][0]

23.85928755725191

Impute missing age value with mean age

In [23]:
data=data.na.fill(data.select(mean('age')).collect()[0][0],subset=['age'])

In [24]:
# Check missing age records
data.where(data['age'].isNull()).show()

+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+---------+--------------+
|pclass|survived|name|sex|age|sibsp|parch|ticket|fare|cabin|embarked|boat|body|homedest|sex_index|embarked_index|
+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+---------+--------------+
+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+---------+--------------+

Convert string to numeric type

In [19]:
data=data.na.fill('N',subset=['embarked'])
# data=data.withColumn('sex',data.sex.cast('int'))
data.dtypes

[('pclass', 'int'),
 ('survived', 'int'),
 ('name', 'string'),
 ('sex', 'string'),
 ('age', 'double'),
 ('sibsp', 'int'),
 ('parch', 'int'),
 ('ticket', 'string'),
 ('fare', 'double'),
 ('cabin', 'string'),
 ('embarked', 'string'),
 ('boat', 'string'),
 ('body', 'int'),
 ('homedest', 'string'),
 ('sex_index', 'double'),
 ('embarked_index', 'double')]

In [16]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer

indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(data) for column in ["sex","embarked"]]
pipeline = Pipeline(stages=indexers)
data = pipeline.fit(data).transform(data)

In [17]:
data.show(vertical=True)

-RECORD 0------------------------------
 pclass         | 1
 survived       | 1
 name           | Allen, Miss. Elis...
 sex            | female
 age            | 29.0
 sibsp          | 0
 parch          | 0
 ticket         | 24160
 fare           | 211.3375
 cabin          | B5
 embarked       | S
 boat           | 2
 body           | null
 homedest       | St Louis, MO
 sex_index      | 1.0
 embarked_index | 0.0
-RECORD 1------------------------------
 pclass         | 1
 survived       | 1
 name           | Allison, Master. ...
 sex            | male
 age            | 0.9167
 sibsp          | 1
 parch          | 2
 ticket         | 113781
 fare           | 151.55
 cabin          | C22 C26
 embarked       | S
 boat           | 11
 body           | null
 homedest       | Montreal, PQ / Ch...
 sex_index      | 0.0
 embarked_index | 0.0
-RECORD 2------------------------------
 pclass         | 1
 survived       | 0
 name           | Allison, Miss. He...
 sex            | female
 age            | 2.0
 sibsp          | 1
 parch          | 2
 ticket         | 113781
 fare           | 151.55
 cabin          | C22 C26
 embarked       | S
 boat           | null
 body           | null
 homedest       | Montreal, PQ / Ch...
 sex_index      | 1.0
 embarked_index | 0.0
-RECORD 3------------------------------
 pclass         | 1
 survived       | 0
 name           | Allison, Mr. Huds...
 sex            | male
 age            | 30.0
 sibsp          | 1
 parch          | 2
 ticket         | 113781
 fare           | 151.55
 cabin          | C22 C26
 embarked       | S
 boat           | null
 body           | 135
 homedest       | Montreal, PQ / Ch...
 sex_index      | 0.0
 embarked_index | 0.0
-RECORD 4------------------------------
 pclass         | 1
 survived       | 0
 name           | Allison, Mrs. Hud...
 sex            | female
 age            | 25.0
 sibsp          | 1
 parch          | 2
 ticket         | 113781
 fare           | 151.55
 cabin          | C22 C26
 embarked       | S
 boat           | null
 body           | null
 homedest       | Montreal, PQ / Ch...
 sex_index      | 1.0
 embarked_index | 0.0
-RECORD 5------------------------------
 pclass         | 1
 survived       | 1
 name           | Anderson, Mr. Harry
 sex            | male
 age            | 48.0
 sibsp          | 0
 parch          | 0
 ticket         | 19952
 fare           | 26.55
 cabin          | E12
 embarked       | S
 boat           | 3
 body           | null
 homedest       | New York, NY
 sex_index      | 0.0
 embarked_index | 0.0
-RECORD 6------------------------------
 pclass         | 1
 survived       | 1
 name           | Andrews, Miss. Ko...
 sex            | female
 age            | 63.0
 sibsp          | 1
 parch          | 0
 ticket         | 13502
 fare           | 77.9583
 cabin          | D7
 embarked       | S
 boat           | 10
 body           | null
 homedest       | Hudson, NY
 sex_index      | 1.0
 embarked_index | 0.0
-RECORD 7------------------------------
 pclass         | 1
 survived       | 0
 name           | Andrews, Mr. Thom...
 sex            | male
 age            | 39.0
 sibsp          | 0
 parch          | 0
 ticket         | 112050
 fare           | 0.0
 cabin          | A36
 embarked       | S
 boat           | null
 body           | null
 homedest       | Belfast, NI
 sex_index      | 0.0
 embarked_index | 0.0
-RECORD 8------------------------------
 pclass         | 1
 survived       | 1
 name           | Appleton, Mrs. Ed...
 sex            | female
 age            | 53.0
 sibsp          | 2
 parch          | 0
 ticket         | 11769
 fare           | 51.4792
 cabin          | C101
 embarked       | S
 boat           | D
 body           | null
 homedest       | Bayside, Queens, NY
 sex_index      | 1.0
 embarked_index | 0.0
-RECORD 9------------------------------
 pclass         | 1
 survived       | 0
 name           | Artagaveytia, Mr....
 sex            | male
 age            | 71.0
 sibsp          | 0
 parch          | 0
 ticket         | PC 17609
 fare           | 49.5042
 cabin          | null
 embarked       | C
 boat           | null
 body           | 22
 homedest       | Montevideo, Uruguay
 sex_index      | 0.0
 embarked_index | 1.0
-RECORD 10-----------------------------
 pclass         | 1
 survived       | 0
 name           | Astor, Col. John ...
 sex            | male
 age            | 47.0
 sibsp          | 1
 parch          | 0
 ticket         | PC 17757
 fare           | 227.525
 cabin          | C62 C64
 embarked       | C
 boat           | null
 body           | 124
 homedest       | New York, NY
 sex_index      | 0.0
 embarked_index | 1.0
-RECORD 11-----------------------------
 pclass         | 1
 survived       | 1
 name           | Astor, Mrs. John ...
 sex            | female
 age            | 18.0
 sibsp          | 1
 parch          | 0
 ticket         | PC 17757
 fare           | 227.525
 cabin          | C62 C64
 embarked       | C
 boat           | 4
 body           | null
 homedest       | New York, NY
 sex_index      | 1.0
 embarked_index | 1.0
-RECORD 12-----------------------------
 pclass         | 1
 survived       | 1
 name           | Aubart, Mme. Leon...
 sex            | female
 age            | 24.0
 sibsp          | 0
 parch          | 0
 ticket         | PC 17477
 fare           | 69.3
 cabin          | B35
 embarked       | C
 boat           | 9
 body           | null
 homedest       | Paris, France
 sex_index      | 1.0
 embarked_index | 1.0
-RECORD 13-----------------------------
 pclass         | 1
 survived       | 1
 name           | "Barber, Miss. El...
 sex            | female
 age            | 26.0
 sibsp          | 0
 parch          | 0
 ticket         | 19877
 fare           | 78.85
 cabin          | null
 embarked       | S
 boat           | 6
 body           | null
 homedest       | null
 sex_index      | 1.0
 embarked_index | 0.0
-RECORD 14-----------------------------
 pclass         | 1
 survived       | 1
 name           | Barkworth, Mr. Al...
 sex            | male
 age            | 80.0
 sibsp          | 0
 parch          | 0
 ticket         | 27042
 fare           | 30.0
 cabin          | A23
 embarked       | S
 boat           | B
 body           | null
 homedest       | Hessle, Yorks
 sex_index      | 0.0
 embarked_index | 0.0
-RECORD 15-----------------------------
 pclass         | 1
 survived       | 0
 name           | Baumann, Mr. John D
 sex            | male
 age            | null
 sibsp          | 0
 parch          | 0
 ticket         | PC 17318
 fare           | 25.925
 cabin          | null
 embarked       | S
 boat           | null
 body           | null
 homedest       | New York, NY
 sex_index      | 0.0
 embarked_index | 0.0
-RECORD 16-----------------------------
 pclass         | 1
 survived       | 0
 name           | Baxter, Mr. Quigg...
 sex            | male
 age            | 24.0
 sibsp          | 0
 parch          | 1
 ticket         | PC 17558
 fare           | 247.5208
 cabin          | B58 B60
 embarked       | C
 boat           | null
 body           | null
 homedest       | Montreal, PQ
 sex_index      | 0.0
 embarked_index | 1.0
-RECORD 17-----------------------------
 pclass         | 1
 survived       | 1
 name           | Baxter, Mrs. Jame...
 sex            | female
 age            | 50.0
 sibsp          | 0
 parch          | 1
 ticket         | PC 17558
 fare           | 247.5208
 cabin          | B58 B60
 embarked       | C
 boat           | 6
 body           | null
 homedest       | Montreal, PQ
 sex_index      | 1.0
 embarked_index | 1.0
-RECORD 18-----------------------------
 pclass         | 1
 survived       | 1
 name           | Bazzani, Miss. Al...
 sex            | female
 age            | 32.0
 sibsp          | 0
 parch          | 0
 ticket         | 11813
 fare           | 76.2917
 cabin          | D15
 embarked       | C
 boat           | 8
 body           | null
 homedest       | null
 sex_index      | 1.0
 embarked_index | 1.0
-RECORD 19-----------------------------
 pclass         | 1
 survived       | 0
 name           | Beattie, Mr. Thomson
 sex            | male
 age            | 36.0
 sibsp          | 0
 parch          | 0
 ticket         | 13050
 fare           | 75.2417
 cabin          | C6
 embarked       | C
 boat           | A
 body           | null
 homedest       | Winnipeg, MN
 sex_index      | 0.0
 embarked_index | 1.0
only showing top 20 rows

Create Feature

In [18]:
feature=['pclass','sibsp','parch']