### Import Libraries

Use Jupyter Notebook as Spark IDE

In [1]:
import findspark
findspark.init()

Import required libraries

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

import pandas as pd

In [3]:
sc=SparkContext.getOrCreate()
ss=SparkSession(sc)

### Load Data

Load data

In [4]:
data=ss.read.csv("../data/titanic.csv",inferSchema=True, header=True)

In [100]:
def load_data():
	return pd.read_csv('../data/titanic.csv')

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,24.0000,0.0,0.0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0.0,0.0,19877,78.8500,NaN,S,6,NaN,NaN
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1.0,0.0,"Baumann, Mr. John D",male,NaN,0.0,0.0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1.0,0.0,"Baxter, Mr. Quigg Edmond",male,24.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1.0,1.0,"Bazzani, Miss. Albina",female,32.0000,0.0,0.0,11813,76.2917,D15,C,8,NaN,NaN
19,1.0,0.0,"Beattie, Mr. Thomson",male,36.0000,0.0,0.0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1.0,1.0,"Beckwith, Mr. Richard Leonard",male,37.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1.0,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0000,0.0,0.0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1.0,1.0,"Bidois, Miss. Rosalie",female,42.0000,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1.0,1.0,"Bird, Miss. Ellen",female,29.0000,0.0,0.0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0000,0.0,0.0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1.0,1.0,"Bishop, Mr. Dickinson H",male,25.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1.0,1.0,"Bissette, Miss. Amelia",female,35.0000,0.0,0.0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1.0,1.0,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0.0,0.0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,3.0,0.0,"Vovk, Mr. Janko",male,22.0000,0.0,0.0,349252,7.8958,NaN,S,NaN,NaN,NaN
1281,3.0,0.0,"Waelens, Mr. Achille",male,22.0000,0.0,0.0,345767,9.0000,NaN,S,NaN,NaN,"Antwerp, Belgium / Stanton, OH"
1282,3.0,0.0,"Ware, Mr. Frederick",male,NaN,0.0,0.0,359309,8.0500,NaN,S,NaN,NaN,NaN
1283,3.0,0.0,"Warren, Mr. Charles William",male,NaN,0.0,0.0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1284,3.0,0.0,"Webber, Mr. James",male,NaN,0.0,0.0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,NaN,NaN
1285,3.0,0.0,"Wenzel, Mr. Linhart",male,32.5000,0.0,0.0,345775,9.5000,NaN,S,NaN,298.0,NaN
1286,3.0,1.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0.0,0.0,2688,7.2292,NaN,C,C,NaN,NaN
1287,3.0,0.0,"Widegren, Mr. Carl/Charles Peter",male,51.0000,0.0,0.0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3.0,0.0,"Wiklund, Mr. Jakob Alfred",male,18.0000,1.0,0.0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1289,3.0,0.0,"Wiklund, Mr. Karl Johan",male,21.0000,1.0,0.0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3.0,1.0,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1.0,0.0,363272,7.0000,NaN,S,NaN,NaN,NaN
1291,3.0,0.0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0.0,0.0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3.0,0.0,"Willey, Mr. Edward",male,NaN,0.0,0.0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3.0,0.0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0.0,0.0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1294,3.0,0.0,"Williams, Mr. Leslie",male,28.5000,0.0,0.0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3.0,0.0,"Windelov, Mr. Einar",male,21.0000,0.0,0.0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3.0,0.0,"Wirz, Mr. Albert",male,27.0000,0.0,0.0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3.0,0.0,"Wiseman, Mr. Phillippe",male,NaN,0.0,0.0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3.0,0.0,"Wittevrongel, Mr. Camille",male,36.0000,0.0,0.0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,27.0000,1.0,0.0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3.0,1.0,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1.0,0.0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3.0,0.0,"Youseff, Mr. Gerious",male,45.5000,0.0,0.0,2628,7.2250,NaN,C,NaN,312.0,NaN
1302,3.0,0.0,"Yousif, Mr. Wazli",male,NaN,0.0,0.0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3.0,0.0,"Yousseff, Mr. Gerious",male,NaN,0.0,0.0,2627,14.4583,NaN,C,NaN,NaN,NaN
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
def save_data():
    return pd.to_csv('../data/output.csv')

In [98]:
save_data()

AttributeError: module 'pandas' has no attribute 'to_csv'

In [5]:
# data.cache()

Get data structure

In [6]:
data.printSchema()

root
 |-- pclass: integer (nullable = true)
 |-- survived: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: double (nullable = true)
 |-- sibsp: integer (nullable = true)
 |-- parch: integer (nullable = true)
 |-- ticket: string (nullable = true)
 |-- fare: double (nullable = true)
 |-- cabin: string (nullable = true)
 |-- embarked: string (nullable = true)
 |-- boat: string (nullable = true)
 |-- body: integer (nullable = true)
 |-- home.dest: string (nullable = true)

Get first 5 records

In [7]:
data.show(5)

+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+
|pclass|survived|                name|   sex|   age|sibsp|parch|ticket|    fare|  cabin|embarked|boat|body|           home.dest|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+
|     1|       1|Allen, Miss. Elis...|female|  29.0|    0|    0| 24160|211.3375|     B5|       S|   2|null|        St Louis, MO|
|     1|       1|Allison, Master. ...|  male|0.9167|    1|    2|113781|  151.55|C22 C26|       S|  11|null|Montreal, PQ / Ch...|
|     1|       0|Allison, Miss. He...|female|   2.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|
|     1|       0|Allison, Mr. Huds...|  male|  30.0|    1|    2|113781|  151.55|C22 C26|       S|null| 135|Montreal, PQ / Ch...|
|     1|       0|Allison, Mrs. Hud...|female|  25.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+
only showing top 5 rows

In [8]:
data.columns

['pclass',
 'survived',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'home.dest']

Describe the data

In [9]:
data.describe().show(truncate=True, vertical=True)

-RECORD 0-------------------------
 summary   | count
 pclass    | 1309
 survived  | 1309
 name      | 1309
 sex       | 1309
 age       | 1046
 sibsp     | 1309
 parch     | 1309
 ticket    | 1309
 fare      | 1308
 cabin     | 295
 embarked  | 1307
 boat      | 486
 body      | 121
 home.dest | 745
-RECORD 1-------------------------
 summary   | mean
 pclass    | 2.294881588999236
 survived  | 0.3819709702062643
 name      | null
 sex       | null
 age       | 29.8811345124283
 sibsp     | 0.4988540870893812
 parch     | 0.3850267379679144
 ticket    | 249039.1368861024
 fare      | 33.29547928134572
 cabin     | null
 embarked  | null
 boat      | 9.404522613065327
 body      | 160.8099173553719
 home.dest | null
-RECORD 2-------------------------
 summary   | stddev
 pclass    | 0.8378360189701272
 survived  | 0.48605517086648325
 name      | null
 sex       | null
 age       | 14.413499699923596
 sibsp     | 1.0416583905961012
 parch     | 0.8655602753495143
 ticket    | 442685.31767656445
 fare      | 51.75866823917421
 cabin     | null
 embarked  | null
 boat      | 4.3574169836049395
 body      | 97.69692199600308
 home.dest | null
-RECORD 3-------------------------
 summary   | min
 pclass    | 1
 survived  | 0
 name      | "Andersson, Mr. A...
 sex       | female
 age       | 0.1667
 sibsp     | 0
 parch     | 0
 ticket    | 110152
 fare      | 0.0
 cabin     | A10
 embarked  | C
 boat      | 1
 body      | 1
 home.dest | ?Havana, Cuba
-RECORD 4-------------------------
 summary   | max
 pclass    | 3
 survived  | 1
 name      | van Melkebeke, Mr...
 sex       | male
 age       | 80.0
 sibsp     | 8
 parch     | 9
 ticket    | WE/P 5735
 fare      | 512.3292
 cabin     | T
 embarked  | S
 boat      | D
 body      | 328
 home.dest | Zurich, Switzerland

### Preprocess Data

Rename columns

In [10]:
data=data.withColumnRenamed('home.dest','homedest')

Check for missing values

In [11]:
from pyspark.sql import functions
for i in data.columns:
    print(i,data.where(functions.col(i).isNull()).count())

pclass 1
survived 1
name 1
sex 1
age 264
sibsp 1
parch 1
ticket 1
fare 2
cabin 1015
embarked 3
boat 824
body 1189
homedest 565

Get records with missing data column

In [12]:
data.where(data['age'].isNull()).show()

+------+--------+--------------------+------+----+-----+-----+--------+--------+-----+--------+----+----+--------------------+
|pclass|survived|                name|   sex| age|sibsp|parch|  ticket|    fare|cabin|embarked|boat|body|            homedest|
+------+--------+--------------------+------+----+-----+-----+--------+--------+-----+--------+----+----+--------------------+
|     1|       0| Baumann, Mr. John D|  male|null|    0|    0|PC 17318|  25.925| null|       S|null|null|        New York, NY|
|     1|       1|"Bradley, Mr. Geo...|  male|null|    0|    0|  111427|   26.55| null|       S|   9|null|     Los Angeles, CA|
|     1|       0|Brewe, Dr. Arthur...|  male|null|    0|    0|  112379|    39.6| null|       C|null|null|    Philadelphia, PA|
|     1|       0|Cairns, Mr. Alexa...|  male|null|    0|    0|  113798|    31.0| null|       S|null|null|                null|
|     1|       1|Cassebeer, Mrs. H...|female|null|    0|    0|   17770| 27.7208| null|       C|   5|null|        New York, NY|
|     1|       1|Chibnall, Mrs. (E...|female|null|    0|    1|  113505|    55.0|  E33|       S|   6|null|St Leonards-on-Se...|
|     1|       0|Chisholm, Mr. Rod...|  male|null|    0|    0|  112051|     0.0| null|       S|null|null|Liverpool, Englan...|
|     1|       0|Clifford, Mr. Geo...|  male|null|    0|    0|  110465|    52.0|  A14|       S|null|null|       Stoughton, MA|
|     1|       0|Crafton, Mr. John...|  male|null|    0|    0|  113791|   26.55| null|       S|null|null|       Roachdale, IN|
|     1|       0|  Farthing, Mr. John|  male|null|    0|    0|PC 17483|221.7792|  C95|       S|null|null|                null|
|     1|       1|Flegenheim, Mrs. ...|female|null|    0|    0|PC 17598| 31.6833| null|       S|   7|null|        New York, NY|
|     1|       1|Fleming, Miss. Ma...|female|null|    0|    0|   17421|110.8833| null|       C|   4|null|                null|
|     1|       0|Franklin, Mr. Tho...|  male|null|    0|    0|  113778|   26.55|  D34|       S|null|null|Westcliff-on-Sea,...|
|     1|       1|Frauenthal, Mrs. ...|female|null|    1|    0|PC 17611|  133.65| null|       S|   5|null|        New York, NY|
|     1|       0|    Fry, Mr. Richard|  male|null|    0|    0|  112058|     0.0| B102|       S|null|null|                null|
|     1|       1|Goldenberg, Mrs. ...|female|null|    1|    0|   17453| 89.1042|  C92|       C|   5|null|Paris, France / N...|
|     1|       0|Harrington, Mr. C...|  male|null|    0|    0|  113796|    42.4| null|       S|null|null|                null|
|     1|       1|Hawksford, Mr. Wa...|  male|null|    0|    0|   16988|    30.0|  D45|       S|   3|null|    Kingston, Surrey|
|     1|       0|Hilliard, Mr. Her...|  male|null|    0|    0|   17463| 51.8625|  E46|       S|null|null|        Brighton, MA|
|     1|       0|Hoyt, Mr. William...|  male|null|    0|    0|PC 17600| 30.6958| null|       C|  14|null|        New York, NY|
+------+--------+--------------------+------+----+-----+-----+--------+--------+-----+--------+----+----+--------------------+
only showing top 20 rows

In [13]:
data.where(data['embarked'].isNull()).show()

+------+--------+--------------------+------+----+-----+-----+------+----+-----+--------+----+----+--------------+
|pclass|survived|                name|   sex| age|sibsp|parch|ticket|fare|cabin|embarked|boat|body|      homedest|
+------+--------+--------------------+------+----+-----+-----+------+----+-----+--------+----+----+--------------+
|     1|       1| Icard, Miss. Amelie|female|38.0|    0|    0|113572|80.0|  B28|    null|   6|null|          null|
|     1|       1|Stone, Mrs. Georg...|female|62.0|    0|    0|113572|80.0|  B28|    null|   6|null|Cincinatti, OH|
|  null|    null|                null|  null|null| null| null|  null|null| null|    null|null|null|          null|
+------+--------+--------------------+------+----+-----+-----+------+----+-----+--------+----+----+--------------+

In [14]:
data.where(data['cabin'].isNull()).show(5)

+------+--------+--------------------+------+----+-----+-----+--------+-------+-----+--------+----+----+-------------------+
|pclass|survived|                name|   sex| age|sibsp|parch|  ticket|   fare|cabin|embarked|boat|body|           homedest|
+------+--------+--------------------+------+----+-----+-----+--------+-------+-----+--------+----+----+-------------------+
|     1|       0|Artagaveytia, Mr....|  male|71.0|    0|    0|PC 17609|49.5042| null|       C|null|  22|Montevideo, Uruguay|
|     1|       1|"Barber, Miss. El...|female|26.0|    0|    0|   19877|  78.85| null|       S|   6|null|               null|
|     1|       0| Baumann, Mr. John D|  male|null|    0|    0|PC 17318| 25.925| null|       S|null|null|       New York, NY|
|     1|       1|Bidois, Miss. Ros...|female|42.0|    0|    0|PC 17757|227.525| null|       C|   4|null|               null|
|     1|       0| Birnbaum, Mr. Jakob|  male|25.0|    0|    0|   13905|   26.0| null|       C|null| 148|  San Francisco, CA|
+------+--------+--------------------+------+----+-----+-----+--------+-------+-----+--------+----+----+-------------------+
only showing top 5 rows

Check Data Type

In [15]:
data.dtypes

[('pclass', 'int'),
 ('survived', 'int'),
 ('name', 'string'),
 ('sex', 'string'),
 ('age', 'double'),
 ('sibsp', 'int'),
 ('parch', 'int'),
 ('ticket', 'string'),
 ('fare', 'double'),
 ('cabin', 'string'),
 ('embarked', 'string'),
 ('boat', 'string'),
 ('body', 'int'),
 ('homedest', 'string')]

Get the mean age

In [16]:
from pyspark.sql.functions import mean
data.select(mean('age')).collect()[0][0]

29.8811345124283

Impute missing age value with mean age

In [17]:
data=data.na.fill(data.select(mean('age')).collect()[0][0],subset=['age'])

In [18]:
# Check missing age records
data.where(data['age'].isNull()).show()

+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+
|pclass|survived|name|sex|age|sibsp|parch|ticket|fare|cabin|embarked|boat|body|homedest|
+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+
+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+

Impute fare with mean fare

In [19]:
data=data.na.fill(data.select(mean('fare')).collect()[0][0],subset=['fare'])

In [20]:
# Check missing fare records
data.where(data['fare'].isNull()).show()

+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+
|pclass|survived|name|sex|age|sibsp|parch|ticket|fare|cabin|embarked|boat|body|homedest|
+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+
+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+

Impute Embarked with Mode

In [21]:
# Get the mode of the embarked column
data.groupby("embarked").count().orderBy("count", ascending=False).first()[0]

'S'

In [22]:
# Impute the embarked with mode value
data=data.na.fill(data.groupby("embarked").count().orderBy("embarked", ascending=False).first()[0],subset=['embarked'])

In [23]:
data.where(data['embarked'].isNull()).show()

+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+
|pclass|survived|name|sex|age|sibsp|parch|ticket|fare|cabin|embarked|boat|body|homedest|
+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+
+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+

Impute cabin with Mode

In [24]:
# Impute the embarked with mode value
data=data.na.fill(data.groupby("cabin").count().orderBy("cabin", ascending=False).first()[0],subset=['cabin'])

In [25]:
data.where(data['cabin'].isNull()).show(5)

+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+
|pclass|survived|name|sex|age|sibsp|parch|ticket|fare|cabin|embarked|boat|body|homedest|
+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+
+------+--------+----+---+---+-----+-----+------+----+-----+--------+----+----+--------+

Count Distinct Values in Columns

In [26]:
from pyspark.sql.functions import col,countDistinct,max,min
data.agg(countDistinct(col("sex")).alias("sex")).show()

+---+
|sex|
+---+
|  2|
+---+

In [27]:
data.groupBy('sex').count().show()

+------+-----+
|   sex|count|
+------+-----+
|  null|    1|
|female|  466|
|  male|  843|
+------+-----+

In [28]:
data.agg(countDistinct(col("embarked")).alias("embarked")).show()

+--------+
|embarked|
+--------+
|       3|
+--------+

In [29]:
data.groupBy('embarked').count().show()

+--------+-----+
|embarked|count|
+--------+-----+
|       Q|  123|
|       C|  270|
|       S|  917|
+--------+-----+

In [30]:
data.agg(countDistinct(col("sibsp")).alias("sibsp")).show()

+-----+
|sibsp|
+-----+
|    7|
+-----+

In [31]:
data.groupBy('sibsp').count().show()

+-----+-----+
|sibsp|count|
+-----+-----+
| null|    1|
|    1|  319|
|    3|   20|
|    5|    6|
|    4|   22|
|    8|    9|
|    2|   42|
|    0|  891|
+-----+-----+

In [32]:
data.agg(countDistinct(col("parch")).alias("parch")).show()

+-----+
|parch|
+-----+
|    8|
+-----+

In [33]:
data.groupBy('parch').count().show()

+-----+-----+
|parch|count|
+-----+-----+
| null|    1|
|    1|  170|
|    6|    2|
|    3|    8|
|    5|    6|
|    9|    2|
|    4|    6|
|    2|  113|
|    0| 1002|
+-----+-----+

Drop all records with null target variable

In [34]:
data=data.na.drop('any',subset=['survived'])

In [35]:
for i in data.columns:
    print(i,data.where(functions.col(i).isNull()).count())

pclass 0
survived 0
name 0
sex 0
age 0
sibsp 0
parch 0
ticket 0
fare 0
cabin 0
embarked 0
boat 823
body 1188
homedest 564

In [36]:
data.show(5)

+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+
|pclass|survived|                name|   sex|   age|sibsp|parch|ticket|    fare|  cabin|embarked|boat|body|            homedest|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+
|     1|       1|Allen, Miss. Elis...|female|  29.0|    0|    0| 24160|211.3375|     B5|       S|   2|null|        St Louis, MO|
|     1|       1|Allison, Master. ...|  male|0.9167|    1|    2|113781|  151.55|C22 C26|       S|  11|null|Montreal, PQ / Ch...|
|     1|       0|Allison, Miss. He...|female|   2.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|
|     1|       0|Allison, Mr. Huds...|  male|  30.0|    1|    2|113781|  151.55|C22 C26|       S|null| 135|Montreal, PQ / Ch...|
|     1|       0|Allison, Mrs. Hud...|female|  25.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+
only showing top 5 rows

Convert sex and embarked data to numeric features

In [37]:
data.dtypes

[('pclass', 'int'),
 ('survived', 'int'),
 ('name', 'string'),
 ('sex', 'string'),
 ('age', 'double'),
 ('sibsp', 'int'),
 ('parch', 'int'),
 ('ticket', 'string'),
 ('fare', 'double'),
 ('cabin', 'string'),
 ('embarked', 'string'),
 ('boat', 'string'),
 ('body', 'int'),
 ('homedest', 'string')]

Bin age into three categories

In [38]:
from pyspark.ml.feature import Bucketizer
age_bucketizer = Bucketizer(splits=[ 0, 20, 50, 80, float('Inf') ],inputCol="age", outputCol="age_bin")
data = age_bucketizer.setHandleInvalid("keep").transform(data)

In [39]:
data.show(5)

+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+-------+
|pclass|survived|                name|   sex|   age|sibsp|parch|ticket|    fare|  cabin|embarked|boat|body|            homedest|age_bin|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+-------+
|     1|       1|Allen, Miss. Elis...|female|  29.0|    0|    0| 24160|211.3375|     B5|       S|   2|null|        St Louis, MO|    1.0|
|     1|       1|Allison, Master. ...|  male|0.9167|    1|    2|113781|  151.55|C22 C26|       S|  11|null|Montreal, PQ / Ch...|    0.0|
|     1|       0|Allison, Miss. He...|female|   2.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|    0.0|
|     1|       0|Allison, Mr. Huds...|  male|  30.0|    1|    2|113781|  151.55|C22 C26|       S|null| 135|Montreal, PQ / Ch...|    1.0|
|     1|       0|Allison, Mrs. Hud...|female|  25.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|    1.0|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+-------+
only showing top 5 rows

Bin fare into three categories

In [40]:
data.agg(max("fare")).show()

+---------+
|max(fare)|
+---------+
| 512.3292|
+---------+

In [41]:
data.agg(min("fare")).show()

+---------+
|min(fare)|
+---------+
|      0.0|
+---------+

In [42]:
fare_bucketizer = Bucketizer(splits=[ 0, 200, 400, 6000, float('Inf') ],inputCol="fare", outputCol="fare_bin")
data = fare_bucketizer.setHandleInvalid("keep").transform(data)

In [43]:
data.show(5)

+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+-------+--------+
|pclass|survived|                name|   sex|   age|sibsp|parch|ticket|    fare|  cabin|embarked|boat|body|            homedest|age_bin|fare_bin|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+-------+--------+
|     1|       1|Allen, Miss. Elis...|female|  29.0|    0|    0| 24160|211.3375|     B5|       S|   2|null|        St Louis, MO|    1.0|     1.0|
|     1|       1|Allison, Master. ...|  male|0.9167|    1|    2|113781|  151.55|C22 C26|       S|  11|null|Montreal, PQ / Ch...|    0.0|     0.0|
|     1|       0|Allison, Miss. He...|female|   2.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|    0.0|     0.0|
|     1|       0|Allison, Mr. Huds...|  male|  30.0|    1|    2|113781|  151.55|C22 C26|       S|null| 135|Montreal, PQ / Ch...|    1.0|     0.0|
|     1|       0|Allison, Mrs. Hud...|female|  25.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|    1.0|     0.0|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+-------+--------+
only showing top 5 rows

Family Size

In [44]:
data=data.withColumn("family_size", data['sibsp']+data['parch'])

In [45]:
data.groupBy('family_size').count().show()

+-----------+-----+
|family_size|count|
+-----------+-----+
|          1|  235|
|          6|   16|
|          3|   43|
|          5|   25|
|          4|   22|
|          7|    8|
|         10|   11|
|          2|  159|
|          0|  790|
+-----------+-----+

In [46]:
# Bin family size
family_bucketizer = Bucketizer(splits=[ 0, 1, 4, 30, float('Inf') ],inputCol="family_size", outputCol="family_size_bin")
data = family_bucketizer.setHandleInvalid("keep").transform(data)

In [47]:
data.show(5)

+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+-------+--------+-----------+---------------+
|pclass|survived|                name|   sex|   age|sibsp|parch|ticket|    fare|  cabin|embarked|boat|body|            homedest|age_bin|fare_bin|family_size|family_size_bin|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+-------+--------+-----------+---------------+
|     1|       1|Allen, Miss. Elis...|female|  29.0|    0|    0| 24160|211.3375|     B5|       S|   2|null|        St Louis, MO|    1.0|     1.0|          0|            0.0|
|     1|       1|Allison, Master. ...|  male|0.9167|    1|    2|113781|  151.55|C22 C26|       S|  11|null|Montreal, PQ / Ch...|    0.0|     0.0|          3|            1.0|
|     1|       0|Allison, Miss. He...|female|   2.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|    0.0|     0.0|          3|            1.0|
|     1|       0|Allison, Mr. Huds...|  male|  30.0|    1|    2|113781|  151.55|C22 C26|       S|null| 135|Montreal, PQ / Ch...|    1.0|     0.0|          3|            1.0|
|     1|       0|Allison, Mrs. Hud...|female|  25.0|    1|    2|113781|  151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|    1.0|     0.0|          3|            1.0|
+------+--------+--------------------+------+------+-----+-----+------+--------+-------+--------+----+----+--------------------+-------+--------+-----------+---------------+
only showing top 5 rows

In [48]:
data.dtypes

[('pclass', 'int'),
 ('survived', 'int'),
 ('name', 'string'),
 ('sex', 'string'),
 ('age', 'double'),
 ('sibsp', 'int'),
 ('parch', 'int'),
 ('ticket', 'string'),
 ('fare', 'double'),
 ('cabin', 'string'),
 ('embarked', 'string'),
 ('boat', 'string'),
 ('body', 'int'),
 ('homedest', 'string'),
 ('age_bin', 'double'),
 ('fare_bin', 'double'),
 ('family_size', 'int'),
 ('family_size_bin', 'double')]

In [49]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer,OneHotEncoder,VectorAssembler

indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(data) for column in ["sex","embarked","family_size_bin","age_bin","fare_bin"]]
indexers_pipeline = Pipeline(stages=indexers)
data = indexers_pipeline.fit(data).transform(data)


# data = data.select("pclass","sibsp","parch","sex","embarked","family_size_bin","age_bin","fare_bin","survived")

# cat_columns=["pclass","sibsp","parch","sex","embarked","family_size_bin","age_bin","fare_bin"]
# stages=[]

# for i in cat_columns:
#     stringIndexer = StringIndexer(inputCol = i, outputCol = i + '_Index')
#     encoder = OneHotEncoder(inputCols=[stringIndexer.getOutputCol()], outputCols=[i + "_encodecVec"])
#     stages += [stringIndexer, encoder]

# # label_stringIdx = StringIndexer(inputCol = 'survived', outputCol = 'label')
# # stages += [label_stringIdx]
    
# nume_cols = ['fare', 'age','survived']
# assemblerInputs = [c + "classVec" for c in cat_columns] + nume_cols
# assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
# stages += [assembler]

In [50]:
# from pyspark.ml import Pipeline

# pipeline = Pipeline(stages = stages)
# pipelineModel = pipeline.fit(data)
# data = pipelineModel.transform(data)
# selectedCols = ['survived', 'features'] 
# data = data.select(selectedCols)

In [51]:
data.show(2,vertical=True)

-RECORD 0-------------------------------------
 pclass                | 1
 survived              | 1
 name                  | Allen, Miss. Elis...
 sex                   | female
 age                   | 29.0
 sibsp                 | 0
 parch                 | 0
 ticket                | 24160
 fare                  | 211.3375
 cabin                 | B5
 embarked              | S
 boat                  | 2
 body                  | null
 homedest              | St Louis, MO
 age_bin               | 1.0
 fare_bin              | 1.0
 family_size           | 0
 family_size_bin       | 0.0
 sex_index             | 1.0
 embarked_index        | 0.0
 family_size_bin_index | 0.0
 age_bin_index         | 0.0
 fare_bin_index        | 1.0
-RECORD 1-------------------------------------
 pclass                | 1
 survived              | 1
 name                  | Allison, Master. ...
 sex                   | male
 age                   | 0.9167
 sibsp                 | 1
 parch                 | 2
 ticket                | 113781
 fare                  | 151.55
 cabin                 | C22 C26
 embarked              | S
 boat                  | 11
 body                  | null
 homedest              | Montreal, PQ / Ch...
 age_bin               | 0.0
 fare_bin              | 0.0
 family_size           | 3
 family_size_bin       | 1.0
 sex_index             | 0.0
 embarked_index        | 0.0
 family_size_bin_index | 1.0
 age_bin_index         | 1.0
 fare_bin_index        | 0.0
only showing top 2 rows

Convert string to numeric type

In [52]:
data=data.withColumn('sex_index',data.sex_index.cast('int')).withColumn('embarked_index',data.embarked_index.cast('int')).withColumn('family_size_bin_index',data.family_size_bin_index.cast('int')).withColumn('age_bin_index',data.age_bin_index.cast('int')).withColumn('fare_bin_index',data.fare_bin_index.cast('int'))

In [53]:
data.dtypes

[('pclass', 'int'),
 ('survived', 'int'),
 ('name', 'string'),
 ('sex', 'string'),
 ('age', 'double'),
 ('sibsp', 'int'),
 ('parch', 'int'),
 ('ticket', 'string'),
 ('fare', 'double'),
 ('cabin', 'string'),
 ('embarked', 'string'),
 ('boat', 'string'),
 ('body', 'int'),
 ('homedest', 'string'),
 ('age_bin', 'double'),
 ('fare_bin', 'double'),
 ('family_size', 'int'),
 ('family_size_bin', 'double'),
 ('sex_index', 'int'),
 ('embarked_index', 'int'),
 ('family_size_bin_index', 'int'),
 ('age_bin_index', 'int'),
 ('fare_bin_index', 'int')]

Drop unwanted columns

In [54]:
data=data[['pclass', 'survived', 'sibsp', 'parch', 'sex_index','embarked_index','family_size_bin_index','age_bin_index','fare_bin_index']]

In [55]:
data.show(5)

+------+--------+-----+-----+---------+--------------+---------------------+-------------+--------------+
|pclass|survived|sibsp|parch|sex_index|embarked_index|family_size_bin_index|age_bin_index|fare_bin_index|
+------+--------+-----+-----+---------+--------------+---------------------+-------------+--------------+
|     1|       1|    0|    0|        1|             0|                    0|            0|             1|
|     1|       1|    1|    2|        0|             0|                    1|            1|             0|
|     1|       0|    1|    2|        1|             0|                    1|            1|             0|
|     1|       0|    1|    2|        0|             0|                    1|            0|             0|
|     1|       0|    1|    2|        1|             0|                    1|            0|             0|
+------+--------+-----+-----+---------+--------------+---------------------+-------------+--------------+
only showing top 5 rows

Encoding Categorical features

In [56]:
cat_data=data[['pclass', 'sibsp', 'parch', 'sex_index','embarked_index','family_size_bin_index','age_bin_index','fare_bin_index']]

In [57]:
encoders = [OneHotEncoder(inputCol=indexed_column, outputCol=indexed_column+"_enc").fit(data) for indexed_column in ["pclass","sibsp","parch","sex_index","embarked_index","family_size_bin_index","age_bin_index","fare_bin_index"]]

In [58]:
encoders_pipeline = Pipeline(stages=encoders)
data = encoders_pipeline.fit(data).transform(data)

In [59]:
data.show(1, vertical=True)

-RECORD 0----------------------------------
 pclass                    | 1
 survived                  | 1
 sibsp                     | 0
 parch                     | 0
 sex_index                 | 1
 embarked_index            | 0
 family_size_bin_index     | 0
 age_bin_index             | 0
 fare_bin_index            | 1
 pclass_enc                | (3,[1],[1.0])
 sibsp_enc                 | (8,[0],[1.0])
 parch_enc                 | (9,[0],[1.0])
 sex_index_enc             | (1,[],[])
 embarked_index_enc        | (2,[0],[1.0])
 family_size_bin_index_enc | (2,[0],[1.0])
 age_bin_index_enc         | (3,[0],[1.0])
 fare_bin_index_enc        | (2,[1],[1.0])
only showing top 1 row

Create Input Vector

In [60]:
inputAssembler=['pclass_enc', 'sibsp_enc', 'parch_enc', 'sex_index_enc', 'embarked_index_enc', 'family_size_bin_index_enc', 'age_bin_index_enc', 'fare_bin_index_enc']

In [61]:
assembler=VectorAssembler(inputCols=inputAssembler,outputCol="features").transform(data)

In [62]:
assembler.show(1, vertical=True)

-RECORD 0-----------------------------------------
 pclass                    | 1
 survived                  | 1
 sibsp                     | 0
 parch                     | 0
 sex_index                 | 1
 embarked_index            | 0
 family_size_bin_index     | 0
 age_bin_index             | 0
 fare_bin_index            | 1
 pclass_enc                | (3,[1],[1.0])
 sibsp_enc                 | (8,[0],[1.0])
 parch_enc                 | (9,[0],[1.0])
 sex_index_enc             | (1,[],[])
 embarked_index_enc        | (2,[0],[1.0])
 family_size_bin_index_enc | (2,[0],[1.0])
 age_bin_index_enc         | (3,[0],[1.0])
 fare_bin_index_enc        | (2,[1],[1.0])
 features                  | (30,[1,3,11,21,23...
only showing top 1 row

In [63]:
ml_data=assembler[['pclass_enc', 'sibsp_enc', 'parch_enc', 'sex_index_enc', 'embarked_index_enc', 'family_size_bin_index_enc', 'age_bin_index_enc', 'fare_bin_index_enc','features','survived']]
ml_data.show(1, vertical=True)

-RECORD 0-----------------------------------------
 pclass_enc                | (3,[1],[1.0])
 sibsp_enc                 | (8,[0],[1.0])
 parch_enc                 | (9,[0],[1.0])
 sex_index_enc             | (1,[],[])
 embarked_index_enc        | (2,[0],[1.0])
 family_size_bin_index_enc | (2,[0],[1.0])
 age_bin_index_enc         | (3,[0],[1.0])
 fare_bin_index_enc        | (2,[1],[1.0])
 features                  | (30,[1,3,11,21,23...
 survived                  | 1
only showing top 1 row

Split data into training and testing sets

In [64]:
(train, test) = ml_data.randomSplit([0.7,0.3])

In [65]:
train.select('features','survived').show(5)

+--------------------+--------+
|            features|survived|
+--------------------+--------+
|(30,[13,21,25,28]...|       0|
|(30,[13,21,25,28]...|       0|
|(30,[13,20,21,25,...|       0|
|(30,[13,20,21,25,...|       0|
|(30,[13,20,21,25,...|       0|
+--------------------+--------+
only showing top 5 rows

In [66]:
test.select('features','survived').show(5)

+--------------------+--------+
|            features|survived|
+--------------------+--------+
|(30,[13,21,25,28]...|       0|
|(30,[13,21,25,28]...|       0|
|(30,[13,20,21,25,...|       0|
|(30,[3,11,23,25,2...|       0|
|(30,[3,11,23,25,2...|       0|
+--------------------+--------+
only showing top 5 rows

# Machine Learning Modeling

## 1.RandomForestClassifier

In [67]:
from pyspark.ml.classification import RandomForestClassifier

In [68]:
rm_model=RandomForestClassifier(labelCol='survived').fit(train)
rm_model

RandomForestClassificationModel: uid=RandomForestClassifier_08fce4f272c3, numTrees=20, numClasses=2, numFeatures=30

In [69]:
rm_test_model=rm_model.transform(train)
rm_test_model

DataFrame[pclass_enc: vector, sibsp_enc: vector, parch_enc: vector, sex_index_enc: vector, embarked_index_enc: vector, family_size_bin_index_enc: vector, age_bin_index_enc: vector, fare_bin_index_enc: vector, features: vector, survived: int, rawPrediction: vector, probability: vector, prediction: double]

Evaluate Random Forest ML Model

In [70]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [71]:
print("Accuracy :")
MulticlassClassificationEvaluator(labelCol='survived',metricName='accuracy').evaluate(rm_test_model)

Accuracy :

0.8063806380638063

In [72]:
print("Precision :")
MulticlassClassificationEvaluator(labelCol='survived', metricName='weightedPrecision').evaluate(rm_test_model)

Precision :

0.8057164076029054

In [73]:
print("Recal :")
MulticlassClassificationEvaluator(labelCol='survived', metricName='weightedRecall').evaluate(rm_test_model)

Recal :

0.8063806380638063

## 2. LogisticRegression

In [74]:
from pyspark.ml.classification import LogisticRegression
log_reg = LogisticRegression(labelCol='survived')
log_reg_model = log_reg.fit(train)

In [75]:
log_reg_model_test=log_reg_model.transform(train)
log_reg_model_test

DataFrame[pclass_enc: vector, sibsp_enc: vector, parch_enc: vector, sex_index_enc: vector, embarked_index_enc: vector, family_size_bin_index_enc: vector, age_bin_index_enc: vector, fare_bin_index_enc: vector, features: vector, survived: int, rawPrediction: vector, probability: vector, prediction: double]

Evaluate Random Forest ML Model

In [76]:
print("Accuracy :")
MulticlassClassificationEvaluator(labelCol='survived',metricName='accuracy').evaluate(log_reg_model_test)

Accuracy :

0.8041804180418042

In [77]:
print("Precision :")
MulticlassClassificationEvaluator(labelCol='survived', metricName='weightedPrecision').evaluate(log_reg_model_test)

Precision :

0.8019729365675841

In [78]:
print("Recal :")
MulticlassClassificationEvaluator(labelCol='survived', metricName='weightedRecall').evaluate(log_reg_model_test)

Recal :

0.8041804180418042

In [79]:
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

plt.figure(figsize=(14,7))
plt.title('AUROC - Area Under the Receiver Operating Characteristics')
plt.plot([0, 1], [0, 1], 'r--')
plt.plot(log_reg_model.summary.roc.select('FPR').collect(),
         log_reg_model.summary.roc.select('TPR').collect())
plt.xlabel('FPR')
plt.ylabel('TPR')
plt.show()

## 3. DecisionTreeClassifier

In [80]:
from pyspark.ml.classification import DecisionTreeClassifier

In [81]:
decision_tree = DecisionTreeClassifier(labelCol='survived')
decision_tree_model = decision_tree.fit(train)

In [82]:
decision_tree_model_test=decision_tree_model.transform(train)
decision_tree_model_test

DataFrame[pclass_enc: vector, sibsp_enc: vector, parch_enc: vector, sex_index_enc: vector, embarked_index_enc: vector, family_size_bin_index_enc: vector, age_bin_index_enc: vector, fare_bin_index_enc: vector, features: vector, survived: int, rawPrediction: vector, probability: vector, prediction: double]

Evaluate Decision Tree ML Model

In [83]:
print("Accuracy :")
MulticlassClassificationEvaluator(labelCol='survived',metricName='accuracy').evaluate(decision_tree_model_test)

Accuracy :

0.8041804180418042

In [84]:
print("Precision :")
MulticlassClassificationEvaluator(labelCol='survived', metricName='weightedPrecision').evaluate(decision_tree_model_test)

Precision :

0.8031721556289431

In [85]:
print("Recal :")
MulticlassClassificationEvaluator(labelCol='survived', metricName='weightedRecall').evaluate(decision_tree_model_test)

Recal :

0.8041804180418042

## 4. Gradient-boosted tree classifier

In [86]:
from pyspark.ml.classification import GBTClassifier

In [87]:
gbt = GBTClassifier(labelCol="survived", featuresCol="features", maxIter=10)
gbt_model = gbt.fit(train)

In [88]:
gbt_model_test=gbt_model.transform(train)
gbt_model_test

DataFrame[pclass_enc: vector, sibsp_enc: vector, parch_enc: vector, sex_index_enc: vector, embarked_index_enc: vector, family_size_bin_index_enc: vector, age_bin_index_enc: vector, fare_bin_index_enc: vector, features: vector, survived: int, rawPrediction: vector, probability: vector, prediction: double]

Evaluate Gradient Boosted Tree Model

In [89]:
print("Accuracy :")
MulticlassClassificationEvaluator(labelCol='survived',metricName='accuracy').evaluate(gbt_model_test)

Accuracy :

0.8228822882288229

In [90]:
print("Precision :")
MulticlassClassificationEvaluator(labelCol='survived', metricName='weightedPrecision').evaluate(gbt_model_test)

Precision :

0.8223368319930585

In [91]:
print("Recal :")
MulticlassClassificationEvaluator(labelCol='survived', metricName='weightedRecall').evaluate(gbt_model_test)

Recal :

0.8228822882288228

# Model Testing

In [92]:
rm_test_model.show(5)

+----------+---------+-------------+-------------+------------------+-------------------------+-----------------+------------------+--------------------+--------+--------------------+--------------------+----------+
|pclass_enc|sibsp_enc|    parch_enc|sex_index_enc|embarked_index_enc|family_size_bin_index_enc|age_bin_index_enc|fare_bin_index_enc|            features|survived|       rawPrediction|         probability|prediction|
+----------+---------+-------------+-------------+------------------+-------------------------+-----------------+------------------+--------------------+--------+--------------------+--------------------+----------+
| (3,[],[])|(8,[],[])|(9,[2],[1.0])|    (1,[],[])|     (2,[0],[1.0])|                (2,[],[])|    (3,[0],[1.0])|     (2,[0],[1.0])|(30,[13,21,25,28]...|       0|[13.5187794224646...|[0.67593897112323...|       0.0|
| (3,[],[])|(8,[],[])|(9,[2],[1.0])|    (1,[],[])|     (2,[0],[1.0])|                (2,[],[])|    (3,[0],[1.0])|     (2,[0],[1.0])|(30,[13,21,25,28]...|       0|[13.5187794224646...|[0.67593897112323...|       0.0|
| (3,[],[])|(8,[],[])|(9,[2],[1.0])|(1,[0],[1.0])|     (2,[0],[1.0])|                (2,[],[])|    (3,[0],[1.0])|     (2,[0],[1.0])|(30,[13,20,21,25,...|       0|[15.6903422676387...|[0.78451711338193...|       0.0|
| (3,[],[])|(8,[],[])|(9,[2],[1.0])|(1,[0],[1.0])|     (2,[0],[1.0])|                (2,[],[])|    (3,[0],[1.0])|     (2,[0],[1.0])|(30,[13,20,21,25,...|       0|[15.6903422676387...|[0.78451711338193...|       0.0|
| (3,[],[])|(8,[],[])|(9,[2],[1.0])|(1,[0],[1.0])|     (2,[0],[1.0])|                (2,[],[])|    (3,[0],[1.0])|     (2,[0],[1.0])|(30,[13,20,21,25,...|       0|[15.6903422676387...|[0.78451711338193...|       0.0|
+----------+---------+-------------+-------------+------------------+-------------------------+-----------------+------------------+--------------------+--------+--------------------+--------------------+----------+
only showing top 5 rows

In [93]:
rm_test_model.select('features','rawPrediction','survived','prediction','probability').show(5)

+--------------------+--------------------+--------+----------+--------------------+
|            features|       rawPrediction|survived|prediction|         probability|
+--------------------+--------------------+--------+----------+--------------------+
|(30,[13,21,25,28]...|[13.5187794224646...|       0|       0.0|[0.67593897112323...|
|(30,[13,21,25,28]...|[13.5187794224646...|       0|       0.0|[0.67593897112323...|
|(30,[13,20,21,25,...|[15.6903422676387...|       0|       0.0|[0.78451711338193...|
|(30,[13,20,21,25,...|[15.6903422676387...|       0|       0.0|[0.78451711338193...|
|(30,[13,20,21,25,...|[15.6903422676387...|       0|       0.0|[0.78451711338193...|
+--------------------+--------------------+--------+----------+--------------------+
only showing top 5 rows